API_KEY=<api_key>
API_KEY_SECRET=<api_key_secret>
ACCESS_TOKEN=<access_token>
ACCESS_TOKEN_SECRET=<access_token_secret>
BEARER_TOKEN=<bearer_token>

EAI_USERNAME=<username>
EAI_PASSWORD=<password>

NEWS_API_KEY=<news_api_key>